
#first-row{
    display: flex;
    width: 100%;
}  
    

#burger-pic{
    justify-content: flex-start;
        
    flex-direction: row;
    width: 50%;
}
    
    
    
#sign-in{
    display: flex;
    flex-direction: row;
    margin-left: 80px;;
    justify-content: flex-end;
    align-items: flex-start;
    color:#026CDB;
    font-family:"Comic Sans MS", "Comic Sans";
}

#order-food{
    display: flex;
    align-content: flex-end;
    padding-left: 100px;
    flex-direction: column;
    justify-content:center;
    font-size: 50px;
    font-weight: bold;
    
}

#perks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

#store{
    width: 100px;
    height: 100px;
}

#bag{
    width: 100px;
    height: 100px;
}

#diamond{
    width: 100px;
    height: 100px;
}

.stores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
    
    
}
/* 
#store-text{
 width: 100px;

} */

.door-step{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
    
}

.diamond-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
}

.second-row{
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 200px;
    
}
    
    

#eating{
    justify-content: flex-end;
    align-items: flex-end;
    
    

    width: 50%;
}

#pick-up{
    color: black;
    width: 100%;
    font-size: 45px;
    word-wrap: break-word;
}    

.explore{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: graphik;
    font-weight: bold;
}

#pick-up-under-text{
    font-size: 20px;
    font-weight: lighter;
    font-family: serif;
}

.about{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFEFEF;
}

#about-content{
    justify-content: flex-end;
    width: 50%;
    font-size: 20px;
    font-weight: lighter;
}

#about-text{
    font-size: 30px;
    font-weight: bold;
}

.sign-up{
    display: flex;
    background-color:#3232AA;
    justify-content: space-evenly;
}

#email{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans";
    
    
}
#email-text{
    width: 100%;
}

#count-me-in{
    background-color: #026CDB;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans" ;
    
}

.know-us{
    display: flex;
    flex-direction: column;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans" ;
}

.useful-links{
    display: flex;
    flex-direction: column;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans";
}

.partner{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";
}

#get{
    font-size: 20px;;
    font-weight: bold;
}

#useful{
    font-size: 20px;
    font-weight: bold;
}

#connect{
    font-size: 20px;
    font-weight: bold;
}

#partner-header{
    font-size: 20px;
    font-weight: bold;
}

#find-button{
    width: 100px;
    height: 50px;
    background-color: #0058B8;
    font-family:"Comic Sans MS", "Comic Sans" ;
    color: white;
    font-size: 15px;
}

#search{
    height: 50px;
    width: 100%;
    align-items: flex-start;
    border-radius: 10px;
    
}

.search-input{
    display: flex
}

.browse{
    display: flex;
    background-color: #3232AA;
    justify-content: center;
    justify-content: space-evenly;
    
}

.browse-cuisine{
    display: flex;
    flex-direction: column;
    color:white;
    font-family: "Comic Sans MS", "Comic Sans";
}

.cities{
    display: flex;
    flex-direction: column;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans" ;
    
}

.more-cities{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";

}

#atl-start{
    padding-top: 20px;
}

.browse-by-rest{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";
}

#header1{
    font-size: 18px;
    font-weight: bold;
}

#header2{
    font-size: 18px;
    font-weight: bold;
}

#header3{
    font-size: 18px;
    font-weight: bold;
    
}

#local-head{
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto sans-serif;
}

#delivery-head{
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto sans-serif;
}

#exclusive-head{
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto sans-serif;
}