
#first-row{
    display: flex;
    width: 100%;
}  
    

#burger-pic{
    justify-content: flex-start;
        
    flex-direction: row;
    width: 50%;
}
    
    
    
#sign-in{
    display: flex;
    flex-direction: row;
    margin-left: 80px;;
    justify-content: flex-end;
    align-items: flex-start;
    color:#026CDB;
    font-family:"Comic Sans MS", "Comic Sans";
}

#order-food{
    display: flex;
    align-content: center;
    padding-left: 100px;
    flex-direction: column;
    justify-content:center;
    font-size: 50px;
    
}

#perks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

#store{
    width: 100px;
    height: 100px;
}

#bag{
    width: 100px;
    height: 100px;
}

#diamond{
    width: 100px;
    height: 100px;
}

.stores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
    
    
}
/* 
#store-text{
 width: 100px;

} */

.door-step{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
    
}

.diamond-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    word-wrap: break-word;
    width: 25%;
}

.second-row{
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 200px;
    
}
    
    

#eating{
    justify-content: flex-end;
    align-items: flex-end;
    
    

    width: 50%;
}

#pick-up{
    color: black;
    width: 100%;
    font-size: 45px;
    word-wrap: break-word;
}    

.explore{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: graphik;
    font-weight: bold;
}

#pick-up-under-text{
    font-size: 15px;
    font-weight: lighter;
}

.about{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFEFEF;
}

#about-content{
    justify-content: flex-end;
    width: 50%;
    font-size: 20px;
    font-weight: lighter;
}

#about-text{
    font-size: 30px;
    font-weight: bold;
}

.sign-up{
    display: flex;
    background-color: blue;
}

#email{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
    font-family:"Comic Sans MS", "Comic Sans";
    justify-content: space-evenly;
    
}
#email-text{
    width: 100%;
}

#count-me-in{
    width: 200px;
    height: 50px;
    
}